<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
		<!--开启controller注解  -->
		<context:component-scan base-package="cn.itcast.controller"  />
		<!--配置处理器映射器  -->
		<bean  class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
		<!--配置处理器适配器  -->
		<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"   />
		
		<!--配置处理器  -->
	    <mvc:annotation-driven conversion-service="conversionService"  />
	    <mvc:annotation-driven   conversion-service="conversionService" />
		<!--配置视图解析器  -->
		<bean   class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		       <property name="prefix"   value="/WEB-INF/jsp/"></property>
		       <property name="suffix"   value=".jsp"></property>
		</bean>
		<!--配置装换器  -->
		<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="cn.itcast.convert.DateConvert"/>
			</set>
		</property>
	</bean>
	    <!--图片上传  -->
		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
<!-- 		限制图片大小为5m -->
		<property name="maxUploadSize" value="5242880" />
	</bean>
	
		</beans>